[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
asyncpg = "*"
sqlalchemy = "*"
fastapi-async-sqlalchemy = "*"
pytest = "*"
psycopg2 = "*"
gunicorn = "*"

[dev-packages]
black = "==21.6b0"
pytest = "*"
pytest-cov = "*"
httpx = "*"

[requires]
python_version = "3.8"
